# API-KEYS
INFURA_KEY= #####infura-key-here######
ETHERSCAN_KEY=https://etherscan.io/
SEPOLIASCAN_KEY=https://sepolia.etherscan.io/

ANVIL_LOCALHOST=http://127.0.0.1:8545

# Endpoints RPC
ETHEREUM_RPC=https://mainnet.infura.io/v3/${INFURA_KEY}
SEPOLIA_RPC=https://sepolia.infura.io/v3/${INFURA_KEY}

# Repository
GIT_REPOSITORY=https://github.com/0xGeN02/staking-dapp.git